{{#> header}}
<header class="site-header">
	<div class="wg-navbar-menu-button">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>
	<div class="wg-navbar-logo">
		<a class="navbar-logo-link" href="index.html">
			<img class="torre-logo" src="src/images/torre.svg" alt="Torre de Control">
			<img class="torre-logo-tablet torre-logo-grey" src="src/images/torre-small.svg" alt="Torre de Control">
		</a>
		<div class="mobile-section-name">{{ section_name }}</div>
	</div>
	<navbar class="wg-navbar">
		<ul class="wg-navbar-menu">
			<li class="wg-navbar-item"><a class="{{index}}" href="index.html">Visualización</a></li>
			<li class="wg-navbar-item"><a class="{{contratos}}" href="contratos.html">Contratos</a></li>
			<li class="wg-navbar-item"><a class="{{investigacion}}" href="investigacion.html">Investigaciones</a></li>
			<li class="wg-navbar-item"><a class="{{sobre_el_proyecto}}" href="sobre_el_proyecto.html">Sobre el proyecto</a></li>
		</ul>
		<div class="nav-separator"></div>
		<span class="nav-legend">Contamos con otros proyectos</span>
		{{> templates/topribbon}}
		<div class="nav-separator"></div>
		<span class="nav-legend">Desarrollado por</span>
		<ul class="mobile-icons">
			<li class="organization-link"><a href="http://projectpoder.org/es/" target="_blank" rel="noopener noreferrer"><img src="src/images/poder.svg" alt="Poder" height="16px"></a></li>
			<li class="organization-link"><a href="http://www.winguweb.org/" target="_blank" rel="noopener noreferrer"><img src="src/images/wingu.svg" alt="Wingu" height="16px"></a></li>
		</ul>
		<span class="nav-legend">Colaboran</span>
		<ul class="mobile-icons">
			<li class="organization-link"><a href="http://projectpoder.org/es/" target="_blank" rel="noopener noreferrer"><img src="src/images/animal-politico.svg" alt="Animal Político" height="24px"></a></li>
			<li class="organization-link"><a href="http://www.winguweb.org/" target="_blank" rel="noopener noreferrer"><img src="src/images/serapaz-trazo.svg" alt="Serpaz Trazo" height="24px"></a></li>
		</ul>
		<span class="nav-legend">Con el apoyo de</span>
		<ul class="mobile-icons">
			<li class="organization-link"><a href="http://projectpoder.org/es/" target="_blank" rel="noopener noreferrer"><img src="src/images/hivos.svg" alt="Hivos" height="32px"></a></li>
		</ul>
		<span class="nav-legend">Seguinos en nuestras redes</span>
		<ul class="mobile-social">
			<li class="social-item item-tw"><a href="https://twitter.com/projectpoder"><img src="src/images/tw.svg" alt="Twitter"></a></li>
		</ul>
	</navbar>
</header>
{{/header}}
